# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.d

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.project
.cproject

*.root
*.par
macros/train/*.wag
macros/train/runs/*/*Test.wag
macros/train/runs/*_*/
macros/train/*.txt
scripts/*.txt

macros/train/PWGLFresonances*
macros/train/AddRsnTaskTest*
macros/train/AliRsnTaskTest*

macros/analysis/*.json
build

# VS
.vscode/*
!.vscode/*.json

tmp

# analysis note tmp files
*.aux
*.log
*.pdf
*.dvi
!notes/Phi_pol_PbPb_LHC10h/alicelogo.pdf
!notes/Phi_pol_PbPb_LHC10h/cernlogo.pdf

